<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936117647518-rt8qo1dcd3eupo6ek1bcd5tb8pgusimo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936117647518-rt8qo1dcd3eupo6ek1bcd5tb8pgusimo</string>
	<key>API_KEY</key>
	<string>AIzaSyD2wfh2--gpeiXRJvmdcGfuoidio9tHktA</string>
	<key>GCM_SENDER_ID</key>
	<string>936117647518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ritic.chatgpt.chatgpt</string>
	<key>PROJECT_ID</key>
	<string>openaibotflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>openaibotflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936117647518:ios:d4f0e71342dbd7be44e38f</string>
</dict>
</plist>